.container {
    display: grid
}

.container {
    display: grid;
    grid-gap: 5px 5px;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(12, 80px);
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%;
}
.grid-item-1 {
    grid-row: 1 / span 12;
    background-color: lawngreen
}
.grid-item-2 {
    grid-row: 1 / span 6;
    background-color: lawngreen
}
.grid-item-3 {
    grid-row: 7 / span 6;
    background-color: lawngreen
}
.grid-item-4 {
    grid-row: 1 / span 4;
    background-color: lawngreen
}
.grid-item-5 {
    grid-row: 5 / span 4;
    background-color: lawngreen
}
.grid-item-6{
    grid-row: 9 / span 4;
    background-color: lawngreen
}
.grid-item-7 {
    grid-row: 1 / span 3;
    background-color: lawngreen
}
.grid-item-8 {
    grid-row: 4 / span 3;
    background-color: lawngreen
}
.grid-item-9 {
    grid-row: 7 / span 3;
    background-color: lawngreen
}
.grid-item-10 {
    grid-row: 10 / span 3;
    background-color: lawngreen
}
.grid-item-11 {
    grid-row: 1 / span 2;
    background-color: lawngreen
}

.grid-item-12 {
    grid-row: 3 / span 2;
    background-color: lawngreen
}

.grid-item-13 {
    grid-row: 5 / span 2;
    background-color: lawngreen
}

.grid-item-14 {
    grid-row: 7 / span 2;
    background-color: lawngreen
}

.grid-item-15 {
    grid-row: 9 / span 2;
    background-color: lawngreen
}

.grid-item-16 {
    grid-row: 11 / span 2;
    background-color: lawngreen
}
.grid-item-17 {
    grid-row: 1 / span 1;
    background-color: lawngreen
}

.grid-item-18 {
    grid-row: 2 / span 1;
    background-color: lawngreen
}

.grid-item-19 {
    grid-row: 3 / span 1;
    background-color: lawngreen
}

.grid-item-20 {
    grid-row: 4 / span 1;
    background-color: lawngreen
}

.grid-item-21 {
    grid-row: 5 / span 1;
    background-color: lawngreen
}

.grid-item-22 {
    grid-row: 6 / span 1;
    background-color: lawngreen
}

.grid-item-23 {
    grid-row: 7 / span 1;
    background-color: lawngreen
}
.grid-item-24 {
    grid-row: 8 / span 1;
    background-color: lawngreen
}

.grid-item-25 {
    grid-row: 9 / span 1;
    background-color: lawngreen
}

.grid-item-26 {
    grid-row: 10 / span 1;
    background-color: lawngreen
}

.grid-item-27 {
    grid-row: 11 / span 1;
    background-color: lawngreen
}

.grid-item-28 {
    grid-row: 12 / span 1;
    background-color: lawngreen
}